<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UFT-8">
    <title>Edureka!</title>
    <style>
        table,th,td {border: 1px solid black;}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<h1>Welcome To Edureka!</h1>
<h2>This is My Website</h2>
<ul>
    <li>Python</li>
    <li>Java</li>
</ul>
<table style="width:30%">
    <tr>
        <th>Python</th>
        <th>Java</th>
    </tr>
    <tr>
        <td>Pycharm</td>
        <td>Intelij</td>
    </tr>
</table>
</body>
</html>
